# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Logs
*.log

# Data (Optional: exclude large scraped files if desired, keeping for now unless huge)
# data/*.txt
